{% extends 'base.html' %} 

{% load static %}

{% block title %} Blog {% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'img/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Our Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	
		<section class="ftco-section">
			<div class="container">
				<div class="row">
          {% for blog in blog_post %}
            <div class="col-md-4 ftco-animate">
              <div class="blog-entry">
                <a href="{% url 'blogsingle' blog.id %}" class="block-20" style="background-image: url({{ blog.photo_main.url }});">
                </a>
                <div class="text pt-3 pb-4">
                  <div class="meta">
                    <div><a href="#">{{ blog.list_date }}</a></div>
                    <div><a href="#">{{ blog.author }}</a></div>
                  </div>
                  <h3 class="heading"><a href="#">{{ blog.title }}</a></h3>
                  <p class="clearfix">
                    <a href="{% url 'blogsingle' blog.id %}" class="float-left read">Read more</a>
                    <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> {{ blog.comments.count }}</a>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <div class="row no-gutters my-5">
          <div class="col text-center">
            <div class="block-27">
              {% if blog_post.has_other_pages %}
                <ul>
                  {% if blog_post.has_previous %}
                    <li><a href="?page={{ blog_post.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"><a>&lt;</a></li>  
                  {% endif %}
                  {% for i in blog_post.paginator.page_range %}
                    {% if blog_post.number == i %}
                      <li class="active"><a>{{ i }}</a></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>  
                    {% endif %}
                  {% endfor %}
                  {% if blog_post.has_next%}
                    <li><a href="?page={{ blog_post.next_page_number }}">&gt;</a></li>
                  {% else %}
                    <li class="disabled"><a>&gt;</a></li>  
                  {% endif %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
			</div>
    </section>
{% endblock %}    